h2 {
  color: rgb(47, 47, 47);
  font-style: italic;
}
li {
  color: rgb(79, 79, 79);
  padding-top: 3px;
  font-size: 15px;
}

.addPerson{
  color: rgb(61, 158, 26);
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}